@font-face { font-family: 'BMHANNAPro'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') 
    format('woff'); font-weight: normal; font-style: normal; 
}

body{
    background-color : #F5F6F7;
}
.box{
    font-family : 'BMHANNAPro';
    font-size : 27px;
    border : 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding : 5%;
    background-color : white !important;
}

p{
    margin-top: 0 !important;
    font-size : 35px;
}
.finding{
    font-family : 'BMHANNAPro';
    padding : 10px;
    position : absolute;
    right : 40px;
    bottom : 20px;
}