@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p{
    font-family : 'BMHANNAPro';
    position : absolute;
    top : 30%;
    left : 20%;
    font-size : 50px;
}

input{
    position : absolute;
    top : 50%;
    left : 40%;
    width : 15%;
    height : 5%;
}

button{
    font-family : 'BMHANNAPro';
    font-size : 20px;
    position : absolute;
    top : 52%;
    left : 56%;

}