
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login_fail.css'%}" >
</head>

<body>

    <div class="sign_in">
        <p>혹시 가입을 안하셨다면 <a class="underlineHover" href="{% url 'sign_in' %}">회원가입</a></p>
    </div>
    <div class="Warning">
        <p>Warning</p><br>
    </div>
    <div class="Warning-message">
        <p>사용자 이름이나 비밀번호에 오류가 있습니다!<br><br>
            <div class="Warning-message2"><p>다시확인해주세요</p></div>
        </p><br>
    </div>

    <button onclick="history.go(-1)"><p>뒤로가기</p></button><br>


</body>

</html>