{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
<div class="wrapper">
    <div class="container text-center">
        <div class="center">
            <img style="width:500px" src = "#">
            <form action="#" method="POST">
                {% csrf_token %}
                <input type="hidden" value = "{{ user.username }}" name = "username" />
                <br>
                <button type="submit" >
                    <h3>START</h3>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}