<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/password.css' %}"  type="text/css" />
</head>

<body>
    <p>본인 확인을 위해 패스워드를 한 번 더 입력하시오.</p>
    <form action="{% url 'check' %}" method="POST">
        {% csrf_token %}
        <input type="password" name="password" placeholder="Enter Password" /><br><br>
        <input type="hidden" name="check_password" value="{{ user.password }}" />
        <input type="hidden" name="check_pk" value="{{ user.pk }}" />
        <button type="submit">check</button>
    </form>
</body>

</html>