{% extends 'base.html' %}
{% load staticfiles %}

{%  block contents %}

    <!-- Login Form -->

    <form action = "{% url 'login' %}" method = "POST">
        {% csrf_token %}
        <input type="text" name="name" class="fadeIn.second" placeholder = "Enter Username"/><br><br>
        <input type="password" name="password" class="fadeIn.second" placeholder="Enter Password"/><br><br>
        
        <button type="submit">Login</button>
    </form>
    
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'sign_in' %}">회원가입</a>
    </div>

{% endblock %}