<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS 불러오기 -->
    <link rel="stylesheet" href="{% static 'css/main.css'%}" >
    <!-- 부트스트랩불러오기. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- 아이콘 불러오기 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   
</head>

<body>
    <div class="top">
        <a href="{% url 'sign_in' %}" class="btn btn-link colorWhite">Sign-in</a>
        <a href="{% url 'users' %}" class="btn btn-link colorWhite" data-toggle="modal" data-target="#login">Log-in</a>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Language
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'main' %}">한국어</a>
            <a class="dropdown-item" href="{% url 'main-english' %}">English</a>
            <a class="dropdown-item" href="{% url 'main-chinese' %}">漢語</a>
        </div>
    </div>
    <div class="logo">
        <img src="{% static 'image/logo.png' %}">
    </div>
    <div class="letter">
        <p>Do you Want to Make a Friend??</p>
          <a href='{% url "users" %}' data-toggle="modal" data-target="#login" >
            <i class="far fa-handshake"></i></a>
            <div class="click">
                <p style="margin-top: -50px">(Click)</p>
            </div>
        
    </div>
    <!-- 사진슬라이드 -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="opacity:0.8" width=100% height=530px src="{% static 'image/main_image2.jpg' %}">
            </div>
            <div class=" carousel-item">
                <img style="opacity:0.8" width=100% height=530px src="{% static 'image/main_image1.jpg' %}">
            </div>
            <div class="carousel-item">
                <img style="opacity:0.8" width=100% height=530px src="{% static 'image/main_image3.jpg' %}">
            </div>
        </div>
        </div>
            <div class="modal" tabindex="-1" role="dialog" id="login">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" style="font-weight : bold">로그인</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <br>
                    <div class="login-letter">
                        <form action = "{% url 'login' %}" method="POST">
                            <center>
                            {% csrf_token %}
                            <div>&nbsp아이디&nbsp :&nbsp&nbsp&nbsp <input name='name' type='text' /></div><br>
                            <div>&nbsp비밀번호 : <input name='password' type='password' /></div>
                            </center>
                        
                    </div>
                    <br>
                    <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value ="Login">
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
            <div class="container">
	<div class="row">
		<div class="col-md-8">
			<div id="div_menu1"></div>			
		</div>
		<div class="col-md-4 pt-8">
			<div id="div_con">
			    <div class="title"><p>Sport</p></div>
			    <div class="content">
				<p>if you want to<br>
					enjoy a sport<br>
					with foreign friend??<br>
				</div>
			</div>
		</div>
	</div><br><br><br>


	<div class="row">
		<div class="col-md-4 pt-8">
			<div id="div_con">
			    
			    <div class="title"><p>Culture</p></div>
			    <div class="content">
				<p>if you want to<br>
					easily experience<br>
					a various culture in korea?<br>
				</p>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div id="div_menu2"></div>
		</div>			
		</div><br><br><br>


		<div class="row">
		<div class="col-md-8">
			<div id="div_menu3"></div>			
		</div>
		<div class="col-md-4 pt-8">
			<div id="div_con">
			    <div class="title"><p>Study</p></div>
			    <div class="content">
				<p>if you want to<br>
					learn a language<br>
					from foreign friend?<br>
				</p>
				</div>
			</div>
		</div>
	</div>
</div>
    <div class="ftext">We are the world.</div>
    <hr style="weight : bold">
    <footer>
        
        <div class="footerlogo">
            <img src="{% static 'image/footerlogo.jpg' %}" height="90px">
        </div>
        <div>
            Front - Developer : L H S | P M J<br>
            Back - Developer : Y J H | B I J | S J W
        </div>
    </footer>
    <!-- 부트스트랩불러오기 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
</html>